{# props: heading, subheading, linkText, url #}
<section class="md:grid grid-cols-12 gap-6 py-48">
    <div class="col-start-4 col-end-9 border border-white p-12">
        cta
        {% if params.subheading %}
        <span class="block mb-6 italic">
            {{ params.subheading }}
        </span>
        {% endif %}
    </div>
</section>