html {
    scroll-behavior: smooth;
}
.animate-me {
    /* filter: brightness(.5); */
    stroke-opacity: 30%;
}
.no-repeat {
    /* filter: brightness(1); */
    stroke-opacity: 100%;
}
.div-shadow:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    top: 8px;
    left: 8px;
    transition: all .25s;
}
.btn-shadow {
    transition: all .25s;
    /* z-index: 10; */
}
.btn-shadow:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    top: 8px;
    left: 8px;
    transition: all .25s;
}
.btn-shadow:hover {
    background-color: #242424;
    color: white;
}
.btn-shadow:hover:after {
    top: 0px;
    left: 0px;
}
/* icons */
#iconHand {
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' fill='none' viewBox='0 0 400 400'%3E%3Cg%3E%3Cpath fill='%23FFFFFF' d='M381.631 107.976c0-8.605-3.351-16.696-9.435-22.78-4.953-4.953-11.233-8.093-18.039-9.092l.422-.42c12.559-12.561 12.559-33 0-45.56-11.708-11.71-30.257-12.5-42.896-2.38a32.042 32.042 0 0 0-9.106-18.303C296.496 3.361 288.409.008 279.798 0c-8.608 0-16.699 3.351-22.785 9.436l-91.317 91.317c-.754-8.428-4.394-16.254-10.449-22.31-10.164-10.163-26.699-10.163-36.861 0l-59.835 59.833c-10.914 10.915-20.993 36.806-29.954 76.953-6.533 29.263-10.135 55.921-10.171 56.186a6.518 6.518 0 0 0 1.85 5.473L141.48 398.091a6.497 6.497 0 0 0 4.607 1.909 6.504 6.504 0 0 0 4.608-1.908l2.649-2.648a144.075 144.075 0 0 1 32.679-24.496 157.032 157.032 0 0 0 35.633-26.71l126.546-126.545c5.435-5.436 8.429-12.659 8.429-20.349-.009-7.856-3.117-15.192-8.755-20.656-4.04-3.917-8.999-6.374-14.212-7.399l38.532-38.533c6.085-6.086 9.435-14.175 9.435-22.78Zm-18.65 13.565L254.644 229.877a6.515 6.515 0 1 0 9.215 9.215l52.52-52.516c6.237-6.235 16.297-6.474 22.428-.532a15.64 15.64 0 0 1 4.793 11.305c0 4.202-1.638 8.154-4.612 11.128L212.441 335.024a144.064 144.064 0 0 1-32.679 24.495 157.094 157.094 0 0 0-33.657 24.768L31.782 269.964c4.39-30.891 18.088-104.577 35.984-122.473l59.833-59.834c5.082-5.081 13.35-5.081 18.432 0a23.012 23.012 0 0 1 6.786 16.38 23.013 23.013 0 0 1-6.784 16.379L96.55 169.899a6.515 6.515 0 0 0 4.607 11.123 6.496 6.496 0 0 0 4.607-1.908l49.482-49.482.001-.002 110.98-110.98a19.06 19.06 0 0 1 13.564-5.62 19.09 19.09 0 0 1 13.569 5.626c7.465 7.466 7.476 19.601.041 27.083l-94.354 94.355a6.514 6.514 0 0 0 0 9.214 6.512 6.512 0 0 0 5.856 1.789 6.485 6.485 0 0 0 3.363-1.79L318.232 39.34c7.48-7.48 19.652-7.48 27.13 0 7.48 7.479 7.48 19.65 0 27.13L227.74 184.092a6.516 6.516 0 0 0 9.215 9.214l98.897-98.896a19.055 19.055 0 0 1 13.564-5.619 19.06 19.06 0 0 1 13.564 5.619 19.054 19.054 0 0 1 5.619 13.565 19.054 19.054 0 0 1-5.618 13.566Z' class='Vector'/%3E%3C/g%3E%3C/svg%3E");
}
#iconArrowDown {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-size: cover;
    margin: 4px 0 0 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' fill='none' viewBox='0 0 400 400'%3E%3Cg clip-path='url(%23a)'%3E%3Crect width='386' height='386' x='7' y='7' stroke='%23FFFFFF' stroke-width='14' class='Rectangle 1'/%3E%3Cpath stroke='%23FFFFFF' stroke-linejoin='round' stroke-width='14' d='M200 52v296m0 0-92-91.939M200 348l92-91.939' class='Vector 1'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a' class='a'%3E%3Crect width='400' height='400' fill='%23fff'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
#iconArrowOut {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-size: cover;
    margin: 4px 0 0 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' fill='none' viewBox='0 0 400 400'%3E%3Cg clip-path='url(%23a)'%3E%3Crect width='386' height='386' x='7' y='7' stroke='%23FFFFFF' stroke-width='14' class='Rectangle 1'/%3E%3Cpath stroke='%23FFFFFF' stroke-linejoin='round' stroke-width='14' d='M95.348 304.652 304.652 95.348m0 0 .043 130.065m-.043-130.065-130.065-.043' class='Vector 1'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a' class='a'%3E%3Crect width='400' height='400' fill='%23FFFFFF'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}