<div class="md:grid grid-cols-12 gap-6 py-32">  
    <div class="col-start-4 col-end-10 border border-current py-6 px-8 relative bg-gray div-shadow">
        <h2 class="font-serif text-4xl md:text-7xl leading-relaxed">{{ params | safe }}</h2>
    </div>
</div>