<div class="min-h-screen flex flex-col justify-center">
    <div class="md:grid grid-cols-12 gap-6">
        <div class="col-start-4 col-end-10 border border-current py-6 px-8 relative bg-gray div-shadow grow-0">
            <h2 class="font-serif text-4xl lg:text-7xl lg:leading-custom">{{ params | safe }}</h2>
        </div>
    </div>
</div>