{# 
https://www.trysmudford.com/blog/encapsulated-11ty-components/ 
#}

{% macro test(params) %}
  {% include "../components/test/test.njk" %}
{% endmacro %}
{% macro cta(params) %}
  {% include "../components/cta/cta.njk" %}
{% endmacro %}
{% macro leftRightStack(params) %}
  {% include "../components/leftRightStack/leftRightStack.njk" %}
{% endmacro %}