---
layout: base
title: Home
tags: page
---

{% from site.components import leftRightStack %}
{% set data = pages.index %}

{# spacer #}
<div class="h-16"></div>
{# sections #}
{{ leftRightStack( data.intro ) }}
{{ leftRightStack( data.hero ) }}
{{ leftRightStack( data.backend ) }}