<footer class="w-full text-base md:grid grid-cols-12 gap-6">
    <div class="col-start-2 col-end-7">
        <p>
            This site weighs less than 150kb.
        </p>
        <br>
        <span>
            © {% year %} <i>terranean</i>
        </span>
    </div>
</footer>