<footer class="w-full text-base md:grid grid-cols-12 gap-6 mb-6">
    <div class="col-start-4 col-end-7">
        <p>
            This site does not use any cookies and weighs less than 150kb <i>total</i>.
        </p>
        <br>
        <span>
            © {% year %} <i>terranean</i><br>Indianapolis, IN, Midwest, USA
        </span>
    </div>
</footer>