<div class="w-full flex flex-row items-center justify-between py-5">
    <span class="hidden md:block"></span>
    <span class="italic">
        terranean
    </span>
    <span>
        contact
    </span>
</div>