<!-- NOT IN USE - saving as example -->
<nav>
    <ul>
        {%- for item in collections.page -%}
        <li>
            <a href="{{ item.url }}">{{ item.data.title }}</a>
        </li>
        {%- endfor -%}
    </ul>
</nav>